<header>
        <nav>
            <a href="#">Administrar</a>
        </nav>
        <section class="textos-header">
            <h1>Tienda Go </h1>
            <h2>Puedes hacer tus Compras Online, Rápido y sencillo.</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;">
                </path>
            </svg>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">TIENDA GO</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="../img/img_index/compras.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Calidad y Precio</h3>
                    <p>Somos una empresa, ofreciendo  siempre productos de excelente calidad, al mejor precio, con tiendas amplias, cómodas y modernas, que brinden seguridad y confianza a nuestros clientes que son nuestra razón de ser.</p>
                    <h3><span>2</span>Compra Segura</h3>
                    <p>Ofrecemos el mejor servicio de compras segura online.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">CATÁLOGO DE PRODUCTOS</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../img/img_index/abarrotes.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Abarrotes</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/frutas.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Frutas y Verduras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/dulces.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Dulceria</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/limpiezapersonal.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Limpieza Personal</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/lacteos.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Lacteos</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/bebidas.JPG" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Bebidas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/bebidas alcolicas.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Bebidas Alcoholicas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../img/img_index/limpiezas.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../img/img_index/entrar.svg" alt="">
                            <p>Limpieza</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cliente contenedor">
            <h2 class="titulo">que dicen nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="../img/img_index/señora.jpg" alt="">
                    <div class="contenido-texto-card">
                    <h4>MISIÓN</h4>
                    <p>Comercializar productos de consumo masivo de excelente calidad a los mejores precios del mercado, brindando la mejor opción en surtido, orientado a satisfacer las necesidades de los clientes, acompañado de un buen servicio y atención.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/img_index/trabajador.jpg" alt="">
                    <div class="contenido-texto-card">
                    <h4>VISIÓN</h4>
                    <p>Ser una de las empresas líderes a nivel regional, ofreciendo siempre productos de excelente calidad, al mejor precio, con tiendas amplias, cómodas y modernas, que brinden seguridad y confianza a nuestros clientes que son nuestra razón de ser.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestro servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="../img/img_index/servicio1.svg" alt="">
                        <h3>Tienda Online</h3>
                        <p>Puedes hacer tus compras estes donde estes.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../img/img_index/servicio2.svg" alt="">
                        <h3>Compra Segura</h3>
                        <p>Protegemos tus compras mas seguro.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../img/img_index/servicio3.svg" alt="">
                        <h3>Delivery</h3>
                        <p>Entregamos tus compras a su domicilio</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>+51 939630330</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>TiendaGo@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Local</h4>
                <p>Calle Andromeda N°214 - Tambo</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Tienda Go | Brayan, Yojahida, Giovanny</h2>
    </footer>